ai-button { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    .ai-button {
        flex-direction: row;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        width: 100%;
        border: none;
        white-space: nowrap;
        -webkit-border-radius: 8px;
           -moz-border-radius: 8px;
                border-radius: 8px;
        & div {
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
        }
        &[disabled] {
            cursor: not-allowed;
            & div {
                pointer-events: none;
            }
        }
        &.primary {
            background: var(--primary-green);
            color: var(--greys-white);
            &:hover:not([disabled]), :active {
                background: var(--secondary-accent-green);
                -webkit-transition-duration: .3s;
                        transition-duration: .3s;
                -webkit-transition-property: all;
                        transition-property: all;
            }
            &[disabled] {
                background: var(--greys-light-grey-3);
                color: var(--greys-medium-grey-2);
                & ai-icon svg path {
                    fill: var(--greys-medium-grey-2);
                }
            }
            & ai-icon svg path {
                fill: var(--greys-white);
            }
        }
        &.primary-reverse {
            background: var(--greys-white);
            color: var(--primary-navy);
            &:hover:not([disabled]), :active {
                background: var(--greys-medium-grey-1);
                -webkit-transition-duration: .3s;
                        transition-duration: .3s;
                -webkit-transition-property: all;
                        transition-property: all;
            }
            &[disabled] {
                background: var(--greys-dark-grey-1);
                color: var(--greys-dark-grey-2);
                & ai-icon svg path {
                    fill: var(--greys-dark-grey-2);
                }
            }
            & ai-icon svg path {
                fill: var(--primary-navy);
            }
        }
        &.secondary {
            background: var(--greys-white);
            color: var(--primary-navy);
            border: 1px solid var(--greys-medium-grey-2);
            &:hover:not([disabled]), :active {
                background: rgba(176, 190, 197, 0.3);
                border: 1px solid var(--greys-medium-grey-2);
                -webkit-transition-duration: .3s;
                        transition-duration: .3s;
                -webkit-transition-property: all;
                        transition-property: all;
            }
            &[disabled] {
                border: 1px solid var(--greys-medium-grey-2);
                color: var(--greys-medium-grey-2);
                & ai-icon svg path {
                    fill: var(--greys-medium-grey-2);
                }
            }
            & ai-icon svg path {
                fill: var(--primary-navy);
            }

        }
        &.secondary-reverse {
            background: transparent;
            color: var(--greys-white);
            border: 1px solid var(--greys-white);
            &:hover:not([disabled]), :active {
                background: rgba(176, 190, 197, 0.3);
                border: 1px solid var(--greys-white);
                -webkit-transition-duration: .3s;
                        transition-duration: .3s;
                -webkit-transition-property: all;
                        transition-property: all;
            }
            &[disabled] {
                border: 1px solid var(--greys-medium-grey-2);
                color: var(--greys-medium-grey-2);
                & ai-icon svg path {
                    fill: var(--greys-medium-grey-2);
                }
            }
            & ai-icon svg path {
                fill: var(--greys-white);
            }
        }
        &.warning-primary {
            background: var(--secondary-product-red);
            color: var(--greys-white);
            &:hover:not([disabled]), :active {
                background: linear-gradient(0deg, rgba(47, 47, 47, 0.1), rgba(47, 47, 47, 0.1)), #F05A5B;
                -webkit-transition-duration: .3s;
                        transition-duration: .3s;
                -webkit-transition-property: all;
                        transition-property: all;
            }
            &[disabled] {
                background: var(--greys-light-grey-3);
                color: var(--greys-medium-grey-2);
                & ai-icon svg path {
                    fill: var(--greys-medium-grey-2);
                }
            }
            & ai-icon svg path {
                fill: var(--greys-white);
            }
        }
        &.warning-secondary {
            background: transparent;
            border: 1px solid var(--secondary-product-red);
            color: var(--secondary-product-red);
            &:hover:not([disabled]), :active {
                background: var(--opacity-light-red);
                -webkit-transition-duration: .3s;
                        transition-duration: .3s;
                -webkit-transition-property: all;
                        transition-property: all;
            }
            &[disabled] {
                border: 1px solid var(--greys-medium-grey-2);
                color: var(--greys-medium-grey-2);
                & ai-icon svg path {
                    fill: var(--greys-medium-grey-2);
                }
            }
            & ai-icon svg path {
                fill: var(--secondary-product-red);
            }
        }
        &.tertiary {
            background: var(--primary-navy);
            color: var(--greys-white);
            &:hover:not([disabled]), :active {
                background: linear-gradient(0deg, rgba(47, 47, 47, 0.5), rgba(47, 47, 47, 0.5)), #0F2C4D;
                -webkit-transition-duration: .3s;
                        transition-duration: .3s;
                -webkit-transition-property: all;
                        transition-property: all;
            }
            &[disabled] {
                background: var(--greys-light-grey-3);
                color: var(--greys-medium-grey-2);
                & ai-icon svg path {
                    fill: var(--greys-medium-grey-2);
                }
            }
            & ai-icon svg path {
                fill: var(--greys-white);
            }
        }
        &.quarternary {
            background: transparent;
            color: var(--primary-navy);
            &:hover:not([disabled]), :active {
                background: rgba(176, 190, 197, 0.3);
                -webkit-transition-duration: .3s;
                        transition-duration: .3s;
                -webkit-transition-property: all;
                        transition-property: all;
            }
            &[disabled] {
                color: var(--greys-medium-grey-2);
                & ai-icon svg path {
                    fill: var(--greys-medium-grey-2);
                }
            }
            & ai-icon svg path {
                fill: var(--primary-navy);
            }
        }
        &.special {
            background: var(--opacity-light-green);
            color: var(--secondary-accent-green);
            &:hover:not([disabled]), :active {
                background: linear-gradient(0deg, rgba(44, 168, 116, 0.15), rgba(44, 168, 116, 0.15)), #E6F7F1;
                -webkit-transition-duration: .3s;
                        transition-duration: .3s;
                -webkit-transition-property: all;
                        transition-property: all;
            }
            &[disabled] {
                background: var(--greys-light-grey-3);
                color: var(--greys-medium-grey-2);
                 & ai-icon svg path {
                    fill: var(--greys-medium-grey-2);
                }
            }
            & ai-icon svg path {
                fill: var(--secondary-accent-green);
            }
        }
        &.xl {
            padding: 12px 24px;
            font: 600 var(--font-size-xl)/var(--line-height-xl) "Inter", sans-serif;
            &.icon-only, &.circle {
                padding: 18px;
                & ai-icon svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        &.lg {
            padding: 12px 24px;
            font: 600 var(--font-size-lg)/var(--line-height-lg) "Inter", sans-serif;
            &.icon-only, &.circle {
                padding: 12px;
                & ai-icon svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        &.md {
            padding: 10px 16px;
            font: 600 var(--font-size-md)/var(--line-height-md) "Inter", sans-serif;
            &.icon-only {
                padding: 8px;
            }
            &.circle {
                padding: 10px;
            }
            &.icon-only, &.circle {
                & ai-icon svg {
                    width: 13.33px;
                    height: 13.33px;
                }
            }
        }
        &.sm {
            padding: 8px 12px;
            font: 600 var(--font-size-sm)/var(--line-height-sm) "Inter", sans-serif;
            &.icon-only {
                & ai-icon svg {
                    width: 10.67px;
                    height: 10.67px;
                }
            }
            &.circle {
                & ai-icon svg {
                    width: 13.33px;
                    height: 13.33px;
                }
            }  
            &.icon-only, &.circle {
                padding: 8px;
            }
        }
        & ai-icon {
            & svg {
                width: 0;
                height: 0;
            }
            &.icon-left {
              margin-right: 10px;
            }
            &.icon-right {
              margin-left: 10px;
            }
            & svg {
                width: 16px;
                height: 16px;
            }
        }
        &.circle {
            text-align: center;
            white-space: nowrap;
            box-sizing: content-box;
            -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
                    border-radius: 50%;
            &.xl,
            &.lg {
                width: 24px;
                height: 24px;
            }
            &.md {
                width: 16px;
                height: 16px;
            }
            &.sm {
                width: 12px;
                height: 12px;
            }
        }
        &.spinner-button {
            background: var(--greys-light-grey-3);
            color: var(--greys-medium-grey-2);
            &.xl svg.spinner,
            &.lg svg.spinner {
                width: 24px;
                height: 24px;
            }
            &.md svg.spinner {
                width: 16px;
                height: 16px;
            }
            &.sm svg.spinner {
                width: 12px;
                height: 12px;
            }
            & svg.spinner {
                animation: rotate 2s linear infinite;
                & .path {
                    stroke-linecap: round;
                    animation: dash 1.5s ease-in-out infinite;
                }
                & + div {
                    display: none;
                }
            }
            &.icon-only div div, &.circle div div {
                display: none;
            }
        }
        & div #hidden-content {
            display: none;
        }
    }
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
