<ai-button type="submit" color="primary" size="md" icon-left="arrow-left" icon-right="arrow-right">
    Button
</ai-button>
<br />
<form style="width: fit-content;">
  <ai-text-input label="Price" icon-end="chevron-down" placeholder="This is a placeholder"></ai-text-input>
</form>
<br />
<form style="width: fit-content;">
  <ai-dropdown size="small" item-text="name" item-value="name" label="Label" icon="globe" placeholder="Placeholder"></ai-dropdown>
</form>