@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    /* Colors */
    --primary-navy: #0F2C4D;
    --primary-green: #2CA874;

    --secondary-accent-purple: #535EEE;
    --secondary-accent-green: #209564;
    --secondary-accent-yellow: #FFCB47;
    --secondary-product-orange: #F16E24;
    --secondary-product-red: #F05A5B;
    --secondary-product-blue: #2399EF;

    --opacity-light-purple: #E6ECFA;
    --opacity-light-green: #E6F7F1;
    --opacity-light-yellow: #FFF9E6;
    --opacity-light-orange: #FFF2EB;
    --opacity-light-red: #FEEFEF;
    --opacity-light-blue: #E6F6FA;

    --greys-white: #FFFFFF;
    --greys-light-grey-1: #FBFCFC;
    --greys-light-grey-2: #F2F4F5;
    --greys-light-grey-3: #EAEEF0;
    --greys-medium-grey-1: #D1D8DC;
    --greys-medium-grey-2: #B0BEC5;
    --greys-dark-grey-1: #697680;
    --greys-dark-grey-2: #505965;
    --greys-dark-grey-3: #2F2F2F;

    /* Typography */
    --font-size-factor: 16px;

    --font-size-h1: 2.25rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --font-size-h5: 1.25rem;
    --font-size-h6: 1.125rem;
    
    --line-height-h1: 2.5rem;
    --line-height-h2: 2.5rem;
    --line-height-h3: 2rem;
    --line-height-h4: 2rem;
    --line-height-h5: 1.75rem;
    --line-height-h6: 1.5rem;

    --font-size-xl: 1.125rem;
    --font-size-lg: 1rem;
    --font-size-md: 0.875rem;
    --font-size-sm: 0.75rem;
    --font-size-xs: 0.625rem;

    --line-height-xl: 1.5rem;
    --line-height-lg: 1.5rem;
    --line-height-md: 1.25rem;
    --line-height-sm: 1rem;
    --line-height-xs: 0.875rem;
}

body {
    font: var(--font-size-md)/var(--line-height-md) 'Inter', sans-serif;
    color: var(--primary-navy);
    a {
        font: var(--font-size-md)/var(--line-height-md) 'Inter', sans-serif;
        color: var(--primary-navy);
        text-decoration: underline;
        text-decoration-color: var(--primary-navy);
        cursor: pointer;
    }
    p, label {
        font: 400 var(--font-size-md)/var(--line-height-md) 'Inter', sans-serif;
        color: var(--primary-navy);
    }
    h1 {
        font: 400 var(--font-size-h1)/var(--line-height-h1) 'Lato', sans-serif;
        color: var(--primary-navy);
    }
    h2 {
        font: 400 var(--font-size-h2)/var(--line-height-h2) 'Lato', sans-serif;
        color: var(--primary-navy);
    }
    h3 {
        font: 400 var(--font-size-h3)/var(--line-height-h3) 'Lato', sans-serif;
        color: var(--primary-navy);
    }
    h4 {
        font: 400 var(--font-size-h4)/var(--line-height-h4) 'Lato', sans-serif;
        color: var(--primary-navy);
    }
    h5 {
        font: 400 var(--font-size-h5)/var(--line-height-h5) 'Lato', sans-serif;
        color: var(--primary-navy);
    }
    h6 {
        font: 400 var(--font-size-h6)/var(--line-height-h6) 'Lato', sans-serif;
        color: var(--primary-navy);
    }
    form {
        background: var(--greys-light-grey-2);
        padding: 32px;
        border: 2px dashed var(--greys-medium-grey-1);
        box-sizing: border-box;
        -webkit-border-radius: 6px;
           -moz-border-radius: 6px;
                border-radius: 6px;
    }
}

// =utils
.text-xl {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
}
.text-lg {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
}
.text-md {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
}
.text-sm {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
}
.text-xs {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
}