<template>
	<ai-button type="submit" color="primary" size="md" icon-left="arrow-left" icon-right="arrow-right" @click="showSpinner" :spinner="clicked">
		Button
	</ai-button>
</template>

<script>
import { AiButton } from 'component-library';

export default {
	name: 'App',
	components: {
		AiButton
	},
	data() {
		return {
			clicked: false,
		};
	},
	methods: { 
		showSpinner() {
			this.clicked = true;
			setTimeout(() => this.clicked = !this.clicked, 4000);
		}
	}     
}
</script>