<template>
	<ai-dropdown size="small" item-text="name" item-value="name" label="Label" icon="globe" placeholder="Placeholder"></ai-dropdown>
</template>

<script>
import { AiDropdown } from 'component-library';

export default {
	name: 'App',
	components: {
		AiDropdown
	}
}
</script>