<template>
	<ai-text-input label="Price" icon-end="chevron-down" placeholder="This is a placeholder"></ai-text-input>
</template>

<script>
import { AiTextInput } from 'component-library';

export default {
	name: 'App',
	components: {
		AiTextInput
	}
}
</script>