:host {
    display: block;
    margin-bottom: 1em;
}

ai-modal {
    &[position="absolute"] {
        position: relative !important;
        & .ai-modal {
            width: auto !important;
            height: auto !important;
        }
        & .dialog {
            position: relative !important;
            transform: none !important;
            margin: 0 auto !important;
            padding-top: 80px !important;
            top: 0 !important;
            right: 0 !important;
            bottom: 0 !important;
            left: 0 !important;
        }
    }
    &[position="fixed"] {
        position: absolute !important;
        & .dialog {
            position: fixed;
        }
    }
}

.ai-modal {
    opacity: 1;
    visibility: hidden;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    & .content {
        position: relative;
        background-color: var(--greys-white);
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 0px 6px 24px rgba(47, 47, 47, 0.16);
        -moz-box-shadow: 0px 6px 24px rgba(47, 47, 47, 0.16);
        box-shadow: 0px 6px 24px rgba(47, 47, 47, 0.16);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
    & .header {
        padding: 32px 24px 24px;
        & div {
            padding-bottom: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & .icon-x {
                justify-content: end;
            }
            & div {
                cursor: pointer;
            }
        }
        & hr {
            margin-block-start: 0 !important;
            margin-block-end: 0 !important;
            border: 0;
            height: 0;
            border-top: 1px solid transparent;
            border-bottom: 1px solid var(--greys-light-grey-3);
        }
    }
    & .body {
        padding: 0 24px 32px;
        overflow-y: scroll;
        height: 100%;
        max-height: 150px;
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--greys-medium-grey-1);
            width: 8px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }
    }
    & .footer {
        padding: 32px 32px 40px;
        display: flex;
        &.col-direction {
            flex-direction: column;
            & ai-button.row {
                margin-bottom: 15px;
                &:first-of-type {
                    margin-top: 0 !important;
                    margin-right: 0 !important;
                    justify-content: center !important;
                }
                &:last-of-type {
                    margin-bottom: 0 !important;
                    margin-left: 0 !important;
                    justify-content: center !important;
                }
                & .ai-button {
                    width: 330px;
                }
            }
        }
        & ai-button {
            &.row {
                & .ai-button {
                    width: 122px;
                }
                &:first-of-type {
                    margin-right: 6px;
                    justify-content: end;
                }
                &:last-of-type {
                    margin-left: 6px;
                    justify-content: start;
                }
            }
            &.col {
                margin-bottom: 15px;
                &:first-of-type {
                    margin-top: 0 !important;
                }
                &:last-of-type {
                    margin-bottom: 0 !important;
                }
                & .ai-button {
                    width: 330px;
                }
            }
        }
        &.top-shadow {
            -webkit-box-shadow: 0px -10px 24px rgb(47, 47, 47, 0.10);
            -moz-box-shadow: 0px -10px 24px rgb(47, 47, 47, 0.10);
            box-shadow: 0px -10px 24px rgb(47, 47, 47, 0.10);
        }
        &.with-text-footer {
            padding: 24px 48px !important;
        }
        & .text-footer {
            margin-top: 15px;
            font: var(--font-size-sm)/var(--line-height-sm) "Lato", sans-serif;
            text-align: center;
            color: var(--greys-dark-grey-1);
        }
    }
    & .dialog {
        top: 80px;
        right: 0;
        bottom: 80px;
        left: 50%;
        transform: translate(-50%, 0);
        max-width: 474px;
    }
    &.screen-h-xs {
        & .dialog {
            top: 40px;
            bottom: 0;
        }
        & .content {
            height: auto;
        }
        & .body {
            height: 40px;
        }
        & .footer {
            -webkit-box-shadow: 0px -10px 24px rgb(47, 47, 47, 0.10);
            -moz-box-shadow: 0px -10px 24px rgb(47, 47, 47, 0.10);
            box-shadow: 0px -10px 24px rgb(47, 47, 47, 0.10);
        }
    }
    &.screen-h-sm {
        & .dialog {
            top: 40px;
            bottom: 40px;
        }
        & .content {
            height: 100%;
        }
        & .body {
            height: calc(100vh - 204px);
        }
        & .footer {
            -webkit-box-shadow: 0px -10px 24px rgb(47, 47, 47, 0.10);
            -moz-box-shadow: 0px -10px 24px rgb(47, 47, 47, 0.10);
            box-shadow: 0px -10px 24px rgb(47, 47, 47, 0.10);
        }
    }
    @media (max-width: 600px) {
        & .dialog {
            width: 100%;
            bottom: -7px;
            opacity: 1;
        }
    }
}