.ai-dropdown {
		flex-direction: column;
		position: relative;
		display: inline-flex;
		& .ai-text-input {
				& input {
						cursor: pointer;
				}
		}
		& .ai-list {
				position: absolute;
				width: 100%;
				display: none;
				cursor: pointer;
				& .divider {
						padding: 12px 24px;
						& hr {
								border: 1px solid var(--greys-light-grey-3);
								margin: 0;
						}
				}
				overflow: auto;
				& .ai-list-item {
						display: flex;
						align-items: center;
						padding: 12px 24px;
						&:hover {
								background-color: var(--greys-light-grey-2);
						}
						&:active,
						&:focus,
						&.selected {
								background-color: var(--opacity-light-purple);
						}
						& span {
								margin-right: 10px;
								display: inline-flex;
								& ai-icon {
										display: inline-flex;
								}
						}
				}
				background: var(--greys-white);
				padding: 12px 0px;
				box-shadow: 0px 6px 20px rgba(47, 47, 47, 0.12);
				border-radius: 8px;
		}
		&.menu-active {
				& .ai-list {
						display: block;
				}
		}
		&.small {
				& input {
						height: 20px;
				}
				& .ai-list {
						top: 59px;
				}
		}
		&.medium {
				& input {
						height: 28px;
				}
				& .ai-list {
						top: 67px;
				}
		}
}