<template>
	<div id="app">
		<Button />
		<br />
		<form style="width: fit-content;">
		<TextInput />
		</form>
		<br />
		<form style="width: fit-content;">
		<Dropdown />
		</form>
	</div>
</template>
<script>
import Button from './components/Button.vue'
import TextInput from './components/TextInput.vue'
import Dropdown from './components/Dropdown.vue'

export default {
	name: 'App',
	components: {
		Button,
		TextInput,
		Dropdown
	}
}
</script>

