:host {
	display: block;
}
.ai-overlay {
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	z-index: 10;
		&.is-show {
			opacity: 1;
			visibility: visible;
			transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
			& .ai-modal {
				visibility: visible !important;
			}
		}
	& .overlay {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	&.fixed {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
// =shame_tailwind_override
.absolute {
	position: static !important;
}
