.ai-text-input {
	& label {
		margin-bottom: 0.5rem;
		font-size: var(--font-size-xs);
		color: var(--greys-dark-grey-2);
	}
	& ai-icon svg path {
    	fill: var(--greys-dark-grey-2);
	}
	&.icon-start .input-group {
		& .input-group-start {
			position: absolute;
			top: 0px;
			bottom: 0px;
			left: 8px;
			display: flex;
			align-items: center;
			pointer-events: none;
			& ai-icon {
		        & svg {
		            width: 20px;
		            height: 20px;
		        }
		    }
		}
		& .input-control {
			padding: 8px 10px 8px 34px;
			font-size: var(--font-size-sm);
			&:focus {
	        	outline: none !important;
	        	border: 1px solid var(--secondary-accent-green);
	        	color: var(--greys-dark-grey-2);
	        }
	        &::-webkit-input-placeholder {
	        	display: flex;
            	align-content: center;
	        	text-align: right !important;
			  	font-size: var(--font-size-sm);
	        	color: var(--greys-medium-grey-2);
	        }
	        &::-moz-placeholder {
	        	display: flex;
            	align-content: center;
	        	text-align: right !important;
			  	font-size: var(--font-size-sm);
	        	color: var(--greys-medium-grey-2);
	        }
	        &:-ms-input-placeholder {
	        	display: flex;
            	align-content: center;
	        	text-align: right !important;
			  	font-size: var(--font-size-sm);
	        	color: var(--greys-medium-grey-2);
	        }
	        &::placeholder { 
	        	display: flex;
            	align-content: center;
	        	text-align: right !important;
			  	font-size: var(--font-size-sm);
	        	color: var(--greys-medium-grey-2);
			}
		}
	}
	& .input-group {
		position: relative;
	    display: flex;
	    flex-wrap: wrap;
	    align-items: stretch;
	    width: 100%;
		& .input-control {
			padding: 8px 10px;
			line-height: var(--line-height-md);
			border: 1px solid var(--greys-medium-grey-1);
			font-size: var(--font-size-sm);
			-webkit-border-radius: 6px;
       	       -moz-border-radius: 6px;
                    border-radius: 6px;
	        &:focus {
	        	outline: none !important;
	        	border: 1px solid var(--secondary-accent-green);
	        	color: var(--greys-dark-grey-2);
	        }
	        &::-webkit-input-placeholder {
	        	display: flex;
            	align-content: center;
			  	font-size: var(--font-size-sm);
	        	color: var(--greys-medium-grey-2);
	        }
	        &::-moz-placeholder {
	        	display: flex;
            	align-content: center;
			  	font-size: var(--font-size-sm);
	        	color: var(--greys-medium-grey-2);
	        }
	        &:-ms-input-placeholder {
	        	display: flex;
            	align-content: center;
			  	font-size: var(--font-size-sm);
	        	color: var(--greys-medium-grey-2);
	        }
	        &::placeholder { 
	        	display: flex;
            	align-content: center;
			  	font-size: var(--font-size-sm);
	        	color: var(--greys-medium-grey-2);
			}
		}
	}
	& .input {
		display: none;
	}
	&.icon-end .input-group {
		& .input-control {
			padding: 8px 34px 8px 10px;
			font-size: var(--font-size-sm);
			&:focus {
	        	outline: none !important;
	        	border: 1px solid var(--secondary-accent-green);
	        	color: var(--greys-dark-grey-2);
	        }
	        &::-webkit-input-placeholder {
	        	display: flex;
            	align-content: center;
	        	text-align: left !important;
			  	font-size: var(--font-size-sm);
	        	color: var(--greys-medium-grey-2);
	        }
	        &::-moz-placeholder {
				display: flex;
            	align-content: center;
	        	text-align: left !important;
			  	font-size: var(--font-size-sm);
	        	color: var(--greys-medium-grey-2);
	        }
	        &:-ms-input-placeholder {
	        	display: flex;
            	align-content: center;
	        	text-align: left !important;
			  	font-size: var(--font-size-sm);
	        	color: var(--greys-medium-grey-2);
	        }
	        &::placeholder { 
				display: flex;
            	align-content: center;
	        	text-align: left !important;
			  	font-size: var(--font-size-sm);
	        	color: var(--greys-medium-grey-2);
			}
		}
		& .input-group-end {
			position: absolute;
			top: 0px;
			bottom: 0px;
			right: 8px;
			display: flex;
			align-items: center;
			pointer-events: none;
			& ai-icon {
		        & svg {
		            width: 20px;
		            height: 20px;
		        }
		    }
		}
	}
	&.hauled {
		& .input-group {
			& .input-control,
			& .input {
				&::-webkit-input-placeholder {
					display: flex;
	            	align-content: center;
	            	text-align: right !important;
				}
				&::-moz-placeholder {
					display: flex;
	            	align-content: center;
	            	text-align: right !important;
				}
				&:-ms-input-placeholder {
					display: flex;
	            	align-content: center;
	            	text-align: right !important;
				}
				&::placeholder { 
	        		display: flex;
	            	align-content: center;
	            	text-align: right !important;
				}
			}
		}
		&.icon-end .input-group {
			& .input-control,
			& .input {
				&::-webkit-input-placeholder {
					display: flex;
	            	align-content: center;
	            	text-align: left !important;
				}
				&::-moz-placeholder {
					display: flex;
	            	align-content: center;
	            	text-align: left !important;
				}
				&:-ms-input-placeholder {
					display: flex;
	            	align-content: center;
	            	text-align: left !important;
				}
				&::placeholder { 
	        		display: flex;
	            	align-content: center;
	            	text-align: left !important;
				}
			}
		}
	}
	&.resizable {
		&.icon-start .input-group {
			& .input{
				background: var(--greys-white);
				padding: 8px 10px 8px 34px;
				font-size: var(--font-size-sm);
				&:focus {
		        	outline: none !important;
		        	border: 1px solid var(--secondary-accent-green);
		        	color: var(--greys-dark-grey-2);
		        }
		        &::-webkit-input-placeholder {
		        	display: flex;
            		align-content: center;
		        	text-align: right !important;
				  	font-size: var(--font-size-sm);
		        	color: var(--greys-medium-grey-2);
		        }
		        &::-moz-placeholder {
		        	display: flex;
            		align-content: center;
		        	text-align: right !important;
				  	font-size: var(--font-size-sm);
		        	color: var(--greys-medium-grey-2);
		        }
		        &:-ms-input-placeholder {
		        	display: flex;
            		align-content: center;
		        	text-align: right !important;
				  	font-size: var(--font-size-sm);
		        	color: var(--greys-medium-grey-2);
		        }
		        &::placeholder { 
		        	display: flex;
            		align-content: center;
		        	text-align: right !important;
				  	font-size: var(--font-size-sm);
		        	color: var(--greys-medium-grey-2);
				}
			}
		}
		&.icon-end .input-group {
			& .input {
				background: var(--greys-white);
				padding: 8px 34px 8px 10px;
				font-size: var(--font-size-sm);
				&:focus {
		        	outline: none !important;
		        	border: 1px solid var(--secondary-accent-green);
		        	color: var(--greys-dark-grey-2);
		        }
		        &::-webkit-input-placeholder {
		        	display: flex;
	        		align-content: center;
		        	text-align: left !important;
				  	font-size: var(--font-size-sm);
		        	color: var(--greys-medium-grey-2);
		        }
		        &::-moz-placeholder {
		        	display: flex;
	        		align-content: center;
		        	text-align: left !important;
				  	font-size: var(--font-size-sm);
		        	color: var(--greys-medium-grey-2);
		        }
		        &:-ms-input-placeholder {
		        	display: flex;
	        		align-content: center;
		        	text-align: left !important;
				  	font-size: var(--font-size-sm);
		        	color: var(--greys-medium-grey-2);
		        }
		        &::placeholder { 
		        	display: flex;
	        		align-content: center;
		        	text-align: left !important;
				  	font-size: var(--font-size-sm);
		        	color: var(--greys-medium-grey-2);
				}
			}
		}
		& .input {
			background: var(--greys-white);
			display: initial;
			padding: 8px 10px;
			line-height: var(--line-height-md);
			border: 1px solid var(--greys-medium-grey-1);
			font-size: var(--font-size-sm);
			min-width: 90px;
			-webkit-border-radius: 6px;
       	       -moz-border-radius: 6px;
                    border-radius: 6px;
        	&:focus {
	        	outline: none !important;
	        	border: 1px solid var(--secondary-accent-green);
	        	color: var(--greys-dark-grey-2);
	        }
	        &::-webkit-input-placeholder {
	        	display: flex;
        		align-content: center;
	        	text-align: left !important;
			  	font-size: var(--font-size-sm);
	        	color: var(--greys-medium-grey-2);
	        }
	        &::-moz-placeholder {
	        	display: flex;
        		align-content: center;
	        	text-align: left !important;
			  	font-size: var(--font-size-sm);
	        	color: var(--greys-medium-grey-2);
	        }
	        &:-ms-input-placeholder {
	        	display: flex;
        		align-content: center;
	        	text-align: left !important;
			  	font-size: var(--font-size-sm);
	        	color: var(--greys-medium-grey-2);
	        }
	        &::placeholder { 
	        	display: flex;
        		align-content: center;
	        	text-align: left !important;
			  	font-size: var(--font-size-sm);
	        	color: var(--greys-medium-grey-2);
			}
		}
		& .input-control {
			display: none;
		}
	}
    &.disabled {
		&[disabled] {
        	background: var(--greys-light-grey-3);
        	color: var(--greys-medium-grey-2);
        	cursor: not-allowed;
		}
		& ai-icon svg path {
        	fill: var(--greys-medium-grey-2);
    	}
	}
	& .invalid-message {
		display: none;
	}
	&.invalid {
		& .input-control, 
		& .input-control:focus,
		& .input, & .input:focus {
			border: 1px solid var(--secondary-product-red) !important;
		}
		& .invalid-message {
			display: initial;
			font-size: var(--font-size-xs);
			color: var(--secondary-product-red);
		}
		&.icon-end .input-group .input-group-end  {
			display: none;
		}
	}
	& #hidden-content {
	    display: none;
	}  
}
